html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #012f5a;
}
/* style main container */
main {
    box-shadow: 0px 0px 140px white;
    border-radius:5px;
}
/* style header */
header{
    background: #111213;
    min-height: 300px;
    color: white;
    padding: 21px 0 20px;
}
.logo{
    margin: 14px 0 0;
}
/* style menu */
.top-menu {
    margin-bottom: 6px;
}
.top-menu a {
    transition: 0.4s;
}
.top-menu a:hover{
    color: #6c757d !important;
}
/* style search */
.search{
    border-radius: 20px ;
    outline: none;
}
.mark, mark{
    background-color: yellow !important;
}
/* style slider */
.slider {
    min-height: 424px;
    clip-path: ellipse(79% 424px at top);
}
h1{
    font-size: 24px;
}
/* style social */
.social a{
    width:40px;
    height:43px;
    display: inline-block;
    opacity: 1;
    margin: 0 2px;
    transition: 0.4s;
}
.social a:hover{
    opacity: 0.7;
}
.social .twitter{
    background: url('../images/sprite.png') -1px 0;
}
.social .facebook{
    background: url('../images/sprite.png') -48px 0;
}
.social .rss{
    background: url('../images/sprite.png') -95px 0;
}
.social .linkedin{
    background:url('../images/sprite.png') -142px 0;
}
/* style content */
.content{
    background: white;
}
.content .article , aside{
    padding-top: 40px;
}
.content article h3{
    font-size: 21px
}
.pagination a {
    background: #eeeeee;
    color: #c1c1c1;
    display: inline-block;
    padding: 2px 8px;
    margin: 2px;
}
.pagination a.active {
    background: #c1c1c1;
    color: #eee;
}
/* style sidebar */
aside{
    background-image: linear-gradient(to bottom, #ececec , white);
}
/* style sponsor */
.sponsor{
    background: white;
}
.sponsor .figure{
    position: relative;
    top:0px;
    transition: 0.4s;
}
.sponsor .figure:hover{
    top:-3px;
}
/* style footer */
footer {
    background: #0f0f0f;
}
/* Responsive */
@media (min-width:320px) and (max-width:575px){
    .logo img {
        width: 100%;
        margin-bottom: 20px;
    }
    .navbar-toggler-icon{
        background: url(../images/sprite.png) -223px -2px;
        width: 40px;
    }
    .navbar-toggler{
        margin: 0 auto;
    }
    .navbar{
        padding-left: 0px;
    }
    .navbar-nav li {
        border-bottom: 1px solid white;
    }
    .slider {
        min-height: auto;
        clip-path: none;
    }
    .article , aside , footer{
        text-align: center;
    }
    aside{
        border-bottom: 1px solid #eee;
        margin-bottom: 40px;
    }
    .about.pr-5{
        padding-right: 0 !important;
    }
}
@media (min-width:576px) and (max-width:767px){
    .slider {
        min-height: auto;
        clip-path: none;
    }
    .navbar-toggler-icon{
        background: url(../images/sprite.png) -223px -2px;
        width: 40px;
    }
    .search-box{
        margin-top: 10px;
    }
    .navbar-nav li {
        border-bottom: 1px solid white;
    }
}
@media (min-width:768px) and (max-width:991px){
    .slider {
        min-height: auto;
        clip-path: none;
    }
    .logo img {
        max-width: 100%;
    }
    .navbar-toggler-icon{
        background: url(../images/sprite.png) -223px -2px;
        width: 40px;
    }
    .search-box{
        margin-top: 10px;
    }
    .navbar-nav li {
        border-bottom: 1px solid white;
    }

}
@media (min-width:992px) and (max-width:1199px){
    .logo img {
        max-width: 100%;
    }
}
